<style>
  .keys {
    font-family: monospace;
    border-collapse: collapse;
  }
  .keys td {
    padding: 3px;
    border: solid 1px #777;
  }
  .keys .key {
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
  }
  .keys .value {
    width: 600px;
  }
</style>

<script src="/vue.js"></script>
<script src="/utils.js"></script>

<div id="app">
  {{ welcome }}
  <hr />
  <button @click="setadminpass">Set Admin Pass</button>
  <hr />
  <button @click="addkey" style="background-color: #afa">Add Key</button>
  <button @click="upload" style="background-color: #ffa; margin-left: 10px">
    Upload
  </button>
  <hr />
  <textarea @input="importinput" style="width: 600px; height: 100px">
  </textarea>
  <hr />
  <table class="keys">
    <tr v-for="(value, key) in config">
      <td class="key">{{ key }}</td>
      <td>
        <input
          class="value"
          @input="valuechanged($event, key)"
          type="text"
          :value="value"
        />
      </td>
      <td>
        <button @click="del(key)" style="background-color: #faa">Del</button>
      </td>
    </tr>
  </table>
</div>

<script>
  Vue.createApp({
    methods: {
      importinput(ev) {
        ev.target.value.split("\n").forEach((line) => {
          const splitIndex = line.split("").findIndex((c) => c === "=");
          if (splitIndex >= 0) {
            this.config[line.substring(0, splitIndex)] = line.substring(
              splitIndex + 1
            );
          }
        });
      },
      del(key) {
        delete this.config[key];
      },
      valuechanged(ev, key) {
        this.config[key] = ev.target.value;
      },
      upload() {
        post("setconfig", { config: this.config }).then((result) => {});
      },
      addkey() {
        const keyInp = window.prompt("Key");

        const key = keyInp.toUpperCase().replace(/\s/g, "_");

        if (key) {
          this.config[key] = "";
        }
      },
      setadminpass() {
        const pass = window.prompt("Admin Pass");
        localStorage.setItem("ADMIN_PASS", pass);
      },
    },
    data() {
      return {
        welcome: "Welcome to Express Min !",
        config: {},
      };
    },
    mounted() {
      post("getconfig").then((result) => {
        this.config = result.content;
      });
    },
  }).mount("#app");

  hotReload();
</script>
