<style>
  .keys {
    font-family: monospace;
    border-collapse: collapse;
  }
  .keys td {
    padding: 3px;
    border: solid 1px #777;
  }
  .keys .key {
    font-size: 22px;
    font-family: monospace;
    color: #700;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
  }
  .keys .value {
    width: 600px;
    font-size: 20px;
    font-family: monospace;
    color: #007;
    padding: 3px 10px 3px 10px;
  }
</style>

<script src="/vue.js"></script>
<script src="/utils.js"></script>

<div id="app">
  {{ welcome }}
  <hr />
  <button @click="setadminpass">Set Admin Pass</button>
  <button @click="getgp" style="margin-left: 10px">GP</button>
  <hr />
  <button @click="addkey" style="background-color: #afa">Add Key</button>
  <button @click="upload" style="background-color: #ffa; margin-left: 10px">
    Upload
  </button>
  <hr />
  <textarea
    ref="inpta"
    @input="importinput"
    style="width: 600px; height: 100px"
  >
  </textarea>
  <hr />
  <table class="keys">
    <tr v-for="key in sortedKeys">
      <td class="key">{{ key }}</td>
      <td>
        <input
          class="value"
          @input="valuechanged($event, key)"
          type="text"
          :value="config[key]"
        />
      </td>
      <td>
        <button @click="del(key)" style="background-color: #faa">Del</button>
      </td>
    </tr>
  </table>
</div>

<script>
  Vue.createApp({
    computed: {
      sortedKeys() {
        return Object.keys(this.config).sort((a, b) => a.localeCompare(b));
      },
    },
    methods: {
      getgp() {
        post("getgp", {}).then((result) => {
          window.alert(result);
          for (let line of result.replace(/\r/g, "").split("\n")) {
            const m = line.match(/([^=]+)=(.+)/);
            if (m) {
              this.config[m[1]] = m[2];
            }
          }
        });
      },
      importinput(ev) {
        ev.target.value.split("\n").forEach((line) => {
          const splitIndex = line.split("").findIndex((c) => c === "=");
          if (splitIndex >= 0) {
            this.config[line.substring(0, splitIndex)] = line.substring(
              splitIndex + 1
            );
          }
        });
      },
      del(key) {
        delete this.config[key];
      },
      valuechanged(ev, key) {
        this.config[key] = ev.target.value;
      },
      upload() {
        post("setconfig", { config: this.config }).then((result) => {
          window.alert(JSON.stringify(result));
        });
      },
      addkey() {
        const keyInp = window.prompt("Key");

        const key = keyInp.toUpperCase().replace(/\s/g, "_");

        if (key) {
          this.config[key] = "";
        }
      },
      setadminpass() {
        const pass = window.prompt("Admin Pass");
        localStorage.setItem("ADMIN_PASS", pass);
      },
    },
    data() {
      return {
        welcome: "Welcome to Express Min !",
        config: {},
      };
    },
    mounted() {
      post("getconfig").then((result) => {
        this.config = result.content;
      });
    },
  }).mount("#app");

  hotReload();
</script>
